# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env
venv/
ENV/
*.egg-info/
*.egg

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Other
*.bak
*.swp

# Node
node_modules/

# Test
coverage/
htmlcov/

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py
!**/migrations/__init__.py
