{% extends 'index.html' %}
{% block title%}<title>Custome Care! </title> {% endblock %}
{% block content %}
{% load static %}   
  
<!-- BEGIN #product -->
<div id="product" class="section-container p-t-20">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN breadcrumb -->
        <ul class="breadcrumb m-b-10 f-s-12">
            <li><a href="#">Home</a></li>
            <li><a href="#">Support</a></li>
            <li class="active">Contact Us</li>
        </ul>
        <!-- END breadcrumb -->
        <!-- BEGIN row -->
        <div class="row row-space-30">
            <!-- BEGIN col-8 -->
            <div class="col-md-8">
                <h4 class="m-t-0">Get in Touch</h4>
                <p class="m-b-30 f-s-13">
                    
                       
                        <h1></h1>
                </p>

                {% include 'alert.html' %}

                <form method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="control-label">Your Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="name" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Your Email <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="email" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Subject <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="subject" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Your Message <span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="5" name="message"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </div>
                </form>
            </div>
            <!-- END col-8 -->
            <!-- BEGIN col-4 -->
            <div class="col-md-4">
                <h4 class="m-t-0">Our Contacts</h4>
                <p>
                    Feel free to reach out to us via any of the following means:
                </p>
                <address>
                    <strong>E-tech Shop, Inc</strong><br>
                   19 Treade Center, Street 12-b<br>
                   Bahawalngar<br>
                    P: (92) 345-7048218
                </address>
                <p>
                   
                <p>
                    
                </p>
            </div>
            <!-- END col-4 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>
<!-- END #product -->
{% endblock %}
